In [2]:
import os
from pathlib import Path
import pandas as pd
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import ipynb

In [3]:
from ipynb.fs.full.datamanagement import user_filter

In [4]:
# Read the data
CUR_DIR = os.path.abspath('')

DATA_DIR = Path(CUR_DIR).parent / "data"
FILE_PATH = DATA_DIR/'triplets_metadata_spotify.csv'
df = pd.read_csv(FILE_PATH, index_col = 0)

In [6]:
df.head()

,user,listening_count,song_name,release,artist_name,duration,artist_familiarity,artist_hotttnesss,year,shs_perf,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,release_date
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,1,Stronger,Graduation,Kanye West,311.84934,0.877214,1.082503,2007,-1,...,-7.933,0,0.176,0.00763,0.0,0.526,0.495,103.977,4.0,2011-05-24
1,9fba771d9731561eba47216f6fbfc0023d88641b,19,Stronger,Graduation,Kanye West,311.84934,0.877214,1.082503,2007,-1,...,-7.933,0,0.176,0.00763,0.0,0.526,0.495,103.977,4.0,2011-05-24
2,85952991b8e3ca5803a08b0b2f9c6d71abf9bb5b,1,Stronger,Graduation,Kanye West,311.84934,0.877214,1.082503,2007,-1,...,-7.933,0,0.176,0.00763,0.0,0.526,0.495,103.977,4.0,2011-05-24
3,537340ff896dea11328910013cfe759413e1eeb3,2,Stronger,Graduation,Kanye West,311.84934,0.877214,1.082503,2007,-1,...,-7.933,0,0.176,0.00763,0.0,0.526,0.495,103.977,4.0,2011-05-24
4,8fce200f3912e9608e3b1463cdb9c3529aab5c08,2,Stronger,Graduation,Kanye West,311.84934,0.877214,1.082503,2007,-1,...,-7.933,0,0.176,0.00763,0.0,0.526,0.495,103.977,4.0,2011-05-24

In [5]:
# Compute the number of listening for each pairs user/songs regardless the release of the song
user_listenings = df.groupby(['user', 'song_name', 'artist_name']).agg({'listening_count' : sum}).reset_index()
user_listenings.head()

,user,song_name,artist_name,listening_count
0,0000175652312d12576d9e6b84f600caa24c4715,A La Mierda,Ska-P,1
1,0000175652312d12576d9e6b84f600caa24c4715,Paramilitar,Ska-P,1
2,00001cf0dce3fb22b0df0f3a1d9cd21e38385372,He Doesn't Know Why,Fleet Foxes,1
3,00001cf0dce3fb22b0df0f3a1d9cd21e38385372,Meadowlarks,Fleet Foxes,2
4,00001cf0dce3fb22b0df0f3a1d9cd21e38385372,Tiger Mountain Peasant Song,Fleet Foxes,1

In [7]:
# Get the sum of the listering count for a user and the number of songs he have listened
users_summary = user_listenings.groupby('user').agg({'listening_count' : sum, 'song_name' : len}).reset_index()
users_summary.columns = ['user', 'listening_count', 'track_count']

In [8]:
users_summary.head()

                                       user  listening_count  track_count
0  0000175652312d12576d9e6b84f600caa24c4715                2            2
1  00001cf0dce3fb22b0df0f3a1d9cd21e38385372                5            4
2  0000267bde1b3a70ea75cf2b2d216cb828e3202b                5            4
3  00003a4459f33b92906be11abe0e93efc423c0ff                4            2
4  00004fb90a86beb8bed1e9e328f5d9b6ee7dc03e                3            3

In [9]:
users_summary['avg_listening_count_by_song'] = users_summary['listening_count']/users_summary['track_count']

In [10]:
users_summary.describe()

       listening_count    track_count  avg_listening_count_by_song
count    849209.000000  849209.000000                849209.000000
mean         15.878861       5.856914                     3.012249
std          26.506799       7.613085                     5.256433
min           1.000000       1.000000                     1.000000
25%           3.000000       2.000000                     1.000000
50%           7.000000       3.000000                     1.666667
75%          18.000000       7.000000                     3.000000
max        1763.000000     303.000000                  1045.000000

In [11]:
print('Percent of users who have one listening : %.2f%%' %(sum(users_summary.listening_count == 1)*100/len(users_summary)))
print('Number of users who have less than 5 listening :', sum(users_summary.listening_count > 5))
print('Percent of users who have listened more than 5 different songs : %.2f%%' %(sum(users_summary.track_count > 5)*100/len(users_summary)))
print('Number of users who have listened more than 5 different songs :', sum(users_summary.track_count > 5))

Percent of users who have one listening : 13.17%
Number of users who have less than 5 listening : 484130
Percent of users who have listened more than 5 different songs : 31.86%
Number of users who have listened more than 5 different songs : 270576

In [12]:
from ipynb.fs.full.datamanagement import user_filter

In [25]:
ids = user_filter(users_summary, nlist_min = 1, nlist_max = 500, ntracks_min = 5)

In [26]:
print(len(ids))

327079